@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "roboto-regular", Arial, Helvetica, sans-serif;
  background-color: #efefef;
}

p {
  color: #575757;
}

a {
  text-decoration: none;
}

.index-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sub-container {
  margin: 5px;
}

.p-15 {
  padding: 15px;
}

.shadow-box {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

header {
  width: 100%;
  height: 45px;
  outline: 2px blue dashed;
}

header div a {
  text-decoration: none;
}

.flex-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 10px;
}

.img-logodev {
  height: 35px;
  margin: 0 0.7em;
}

.searchbar {
  border-radius: 5px;
  height: 2.4em;
  width: 48%;
  border: 1px solid #8a8686;
  position: relative;
  padding: 5px;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.lupa {
  height: auto;
  border: none;
  z-index: 20;
  position: absolute;
  top: 4px;
  left: 305px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  padding: 8px 16px;
  font-size: 20px;
  margin-bottom: 5px;
}

.btn.btn-primary {
  background-color: #3b49df;
}

.btn.btn-secondary {
  color: #3b49df;
}

.btn.btn-primary:hover {
  background-color: #323ebe;
}

.btn.btn-secondary:hover {
  background-color: rgba(223, 219, 219, 0.774);
}

.button2 {
  width: 8%;
  font-weight: bolder;
  font-size: 12px;
  padding: 8px 1px;
  margin: 0 10px;
}

.button1 {
  width: 15%;
  font-weight: 5em;
  font-size: 12px;
  padding: 8px 1px;
  margin: 0 10px;
}

.left-aside-wrapper {
  width: 20%;
  height: 100%;
  border: solid 1px red;
}

.left-aside {
  outline: 1px red dashed;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
}

.left-aside a {
  text-decoration: none;
  color: inherit;
}

.left-aside span {
  color: #3a49df;
}

.left-aside h2 {
  margin-bottom: 8px;
}

.left-aside p {
  margin-bottom: 16px;
}

.left-aside div {
  display: block;
}

.left-aside .btn {
  display: inline-block;
  border-radius: 3px;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  padding: 8px 16px;
  font-size: 20px;
  margin-bottom: 5px;
}

.left-aside .btn.btn-primary {
  background-color: #3b49df;
}

.left-aside .btn.btn-secondary {
  color: #3b49df;
}

.left-aside .btn.btn-primary:hover {
  background-color: #323ebe;
}

.left-aside .btn.btn-secondary:hover {
  background-color: rgba(223, 219, 219, 0.774);
}

.main {
  width: 60%;
  height: 100%;
  outline: 1px red dashed;
}

.right-aside-wrapper {
  width: 20%;
  height: 100%;
  border: solid 1px red;
}

footer {
  width: 100%;
  height: 50px;
  outline: 2px #ff0080 dashed;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.footer-container p {
  padding-bottom: 14px;
}

.crayons-link {
  font-weight: bold;
  color: black;
}

.description-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-container2 p {
  padding-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */