* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sub-container {
  margin: 5px;
}

.p-15 {
  padding: 15px;
}

.shadow-box {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

header {
  width: 100%;
  height: 50px;
  outline: 2px blue dashed;
}

.left-aside-wrapper {
  width: 20%;
  height: 100%;
  border: solid 1px red;
}

.main {
  width: 60%;
  height: 100%;
  outline: solid 1px red;
}

.main .main-header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  outline: solid 1px red;
}

.main .main-header .main-nav {
  width: 60%;
  height: 80%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .main-header .main-nav .nav-item {
  position: relative;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .main-header .main-nav .nav-item .item-line {
  position: absolute;
  visibility: hidden;
  width: 0px;
  border: 2px solid #4d72de;
  bottom: -2px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.main .main-header .main-nav .nav-item:hover .item-line {
  visibility: visible;
  width: 80%;
}

.main .main-header .main-nav .nav-item:hover {
  background-color: #4d71de1c;
}

.right-aside-wrapper {
  width: 20%;
  height: 100%;
  border: solid 1px red;
}

footer {
  width: 100%;
  height: 50px;
  outline: 2px #ff0080 dashed;
}
/*# sourceMappingURL=styles.css.map */