$primaryColor: #efefef;
$secundaryColor: #ffffff;
$terciaryColor: #4d72de;
$cuaternaryColor: #000000;
$quinaryColor: #3b49df;
$pTextColor: #575757;
$bg-hover-color: rgba(36, 36, 36, 0.075);



// side-bar-left
$upperBoxColor: #f9f9f9;