@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  //Fuentes
  font-family: "roboto-regular", Arial, Helvetica, sans-serif;
  background-color: $primaryColor;
}

p {
  color: $pTextColor;
}
a {
  width: auto;
  text-decoration: none;
  
}
.index-container {
  width: 100%;
  height: auto; //temporal
  @include displayFlexBox(flex, row, center, flex-start, nowrap);
}
.sub-container {
  margin: 5px 10px;
}
.p-15 {
  padding: 15px;
}
.shadow-box {
  box-shadow: 0 1px 1px $bg-hover-color;
}

// margins

.mb-6{
 margin-bottom: 6px;
}

.mt-4{
  margin-top: 4px;
}

.mt-15{
  margin-top: 15px;
  // un cometario
}